*{
	padding: 0;
	margin: 0;
}
body{
	background: #F0F8FF;
}
.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 50px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;
    border: 1.5em solid #fff;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #fff;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}


.title{
	position: absolute;
	display: flex;
	justify-content: center;
	left: 490px;
	right: 0;
	font-size: 30px;
	font-weight: 500;
}

.me {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    overflow: hidden;
}

.me_tit {
    width: 600px;
    line-height: 36px;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 50px;
}

.me_img {
    width: 800px;
    height: 600px;
}

.animate{
	padding-left: 20px;
	
	width: 500px;
	font-size: 16px;
	color: #000;
	animation: 10s wordsLoop linear infinite normal;	
}
@keyframes wordsLoop {
	0% {
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
	}
	100% {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
	}
} 

.box{
	width: 150px;
	height: 270px;
	position: fixed;
	left: 0;
	top: 400px;
}
.box a{
	text-decoration: none;
	color: white;
	background: palevioletred;
	border: 1px solid white;
	display: block;
	text-align: center;
	border-radius:25px;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0 400px;
    box-sizing: border-box;
    overflow: hidden;
	margin-top: 150px;
	position: relative;
}

.icons_items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 80px;
    width: 200px;
}

.icons_items_imgs {
    width: 200px;
	height: 300px;
    margin-bottom: 30px;
}

.icons .icons_items .bgView{
	margin-top: 80px;
	width: 200px;
	height: 300px;
	background: rgba(1,1,1,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	color: white;
	display: none;
}
.icons .icons_items:hover .bgView{
	display: block;
}
.icons .icons_items .bgView a{
	color: white;
	text-decoration: none;
	
	}

.title2{
	position: absolute;
	display: flex;
	justify-content: center;
	left: 0;
	right: 0;
	font-size: 30px;
	font-weight: 500;
}


.icons .boxx{
	width: 1000px;
	height: 500px;/* 520 408*/
	/* background: skyblue; */
	margin: 50px auto 0;
}

.icons .boxx .content{
	width: 800px;
	height: 400px;   /* 476 298*/
	/*background: red;*/
	margin: 0 auto;
}
.icons .boxx .content .bigView{
	width: 600px;/*400 298 */
	height: 400px;
	/*background: blue;*/
	float: left;
	overflow: hidden;
}
.icons .boxx .content .bigView img{
	width: 600px;
	height: 400px;
}
.icons .boxx .content .smallView{
	width: 64px;
	height: 400px;
	/*background: purple;*/
	float: right;
	overflow: auto;
}
.icons .boxx .content .smallView img{
	width: 62px;
	height: 60px;
	float: left;
	margin-bottom: 4px;
	border: 1px solid white;
}
.icons li{
	list-style: none;

}