<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>edu.njust.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>edu.njust.controller.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionController</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>edu.njust.controller.QuestionController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyController</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>edu.njust.controller.ReplyController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageController</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>edu.njust.controller.MessageController</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyController</servlet-name>
    <url-pattern>/ReplyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/MessageController</url-pattern>
  </servlet-mapping>

</web-app>